/* CZCIONKI */
@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* RESET CSS */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* KLASA DO WYŚRODKOWANIA ZAWARTOŚCI */
.container {
    max-width: 1050px;
    margin: 0 auto;
}

/* CSS DO NAGŁÓWKA */
header {
    width: 100%;
    height: 40px;
    background-color: #000000;
    font-size: 14px;
    font-family: 'ralewaybold';
    letter-spacing: 0.5px;
    line-height: 40px;
    color: #ffffff;
}

header div {
    display: flex;
    flex-direction: row;
}

header p {
    margin: 0;
    margin-right: 605px;
    cursor: pointer;
}

header span {
    color: #25cab1;
}

nav {
    width: 33%;
    margin: 0;
    padding-left: 10px;
    position: relative;
    left: 30px;
    color: #ffffff;
}

.navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar li {
    width: 33%;
    text-align: center;
}

.navbar > li > a:link, .navbar > li > a:visited,
.navbar > li > a:active {
    color: #ffffff;
    text-decoration: none;
}

.navbar > li > a:hover {
    color: #25cab1;
}

.dropdown_menu {
    display: none;
    order: 1;
    width: 120px;
    height: 100px;
    margin: 0;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: #000000;
    font-family: "ralewaymedium";
}

.dropdown_menu ul {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    bottom: 40px;
}

.dropdown_menu li {
    width: 100%;
    list-style: none;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: left;
}

.dropdown_menu::before {
    content: " ";
    width: 0;
    height: 0;
    padding-top: 0;
    position: relative;
    left: 45px;
    bottom: 35px;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: #000000;
}

/* CSS DO SEKCJI 1 */
.black_chair {
    width: 100%;
    background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(204,199,209,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(204,199,209,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(204,199,209,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(204,199,209,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(204,199,209,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(204,199,209,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CCC7D1',GradientType=0 ); /* ie6-9 */
}

.black_chair>div {
    display: flex;
    align-items: center;
    margin-top: 65px;
    padding-bottom: 5px;
}

.arrow {
    position: relative;
    z-index: 2;
    bottom: 30px;
    font-family: "ralewaylight";
    color: #25cab1;
    font-size: 80px;
}

.arrow a:link, .arrow a:visited,
.arrow a:hover, .arrow a:active {
    color: #25cab1;
    text-decoration: none;
}

.black_chair img {
    width: 600px;
    height: 430px;
    z-index: 1;
    position: relative;
    right: 85px;
}

.slider ul {
    list-style: none;
}

.slider li {
    display: none;
}

.slider .visible {
    display: block;
}

.beside_black_chair {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 125px;
    bottom: 15px;
}

h1 {
    font-family: "ralewaysemibold";
    font-size: 40px;
}

h1 span {
    font-family: "ralewaybold";
    color: #25cab1;
}

.beside_black_chair p {
    width: 115%;
    padding: 40px 0;
    position: relative;
    bottom: 13px;
    right: 30px;
    color: #4d4d4d;
    font-family: "ralewaymedium";
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}

#button {
    width: 265px;
    height: 50px;
    position: relative;
    bottom: 20px;
    background-color: #25cab1;
    border-radius: 10px;
}

#button p {
    padding: 13px 0 0 40px;
    color: #ffffff;
    font-family: "ralewaymedium";
    font-size: 24px;
    line-height: 50px;
    text-transform: uppercase;
}

#button a:link, #button a:visited,
#button a:hover, #button a:active {
    text-decoration: none;
}

/* CSS DO SEKCJI 2 */
.clair_margarita {
    width: 100%;
    background-color: #ffffff;
}

.clair_margarita img {
    width: 330px;
    height: 225px;
}

.find_inputs {
    width: 340px;
    height: 255px;
    margin-bottom: 60px;
    padding: 5px 10px 0 25px;
    border: 1px solid lightgrey;
    font-family: "ralewaymedium";
}

.clair_margarita>div {
    display: flex;
    margin-top: 25px;
    margin-bottom: 10px;
}

.clair_margarita h2 {
    width: 140px;
    z-index: 2;
    position: relative;
    right: 80px;
    top: 10px;
    border-bottom: 7px solid #25cab1;
    font-size: 16px;
    font-family: "ralewaysemibold";
}

.clair {
    margin: 0;
    margin-right: 27px;
    max-width: 330px;
    max-height: 225px;
}

.margarita {
    margin-right: 28px;
    max-width: 330px;
    max-height: 225px;
}

.shadow {
    width: 330px;
    height: 60px;
    position: relative;
    bottom: 75px;
    background-color: rgba(255,255,255,0.5);
}

.find_inputs h2 {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    top: 5px;
}

.find_inputs p {
    font-size: 14px;
    color: #808080;
    line-height: 20px;
}

/* CSS DO SEKCJI 3 */
.price_list {
    width: 100%;
    background-color: #f4f4f4;
}

.price_list>div{
    display: flex;
}

.price_list h2, contact_form h2 {
    width: 320px;
    margin: 0;
    margin-bottom: 75px;
    padding-top: 42px;
    border-bottom: 7px solid #25cab1;
    font-family: "ralewayregular";
    font-size: 21px;
    line-height: 35px;
    text-align: left;
}

.tariff_box {
	display: flex;
	align-items: center;
	flex-direction: column;
    height: 500px;
    margin: 0;
    margin-bottom: 65px;
    z-index: 3;
    position: relative;
	border: 2px solid #e0e0e0;
	background-color: #f9f9f9;
	text-align: center;
}

.tariff_box:nth-of-type(2) {
    margin-left: 29px;
    margin-right: 29px;
}

.small_circle {
	width: 57px;
	height: 57px;
    z-index: 1;
    position: relative;
    bottom: 38px;
	border-radius: 50%;
	border: 2px solid #e0e0e0;
	background-color: #ffffff;
}

.small_circle>div {
	width: 26px;
    height: 26px;
    z-index: 2;
	position: absolute;
	top: 14px;
	left: 14px;
    border-radius: 50%;
    background-color: #c2c2c2;
}

.tariff_box h3 {
    position: relative;
    bottom: 30px;
	font-size: 24px;
    font-family: "ralewaylight";
    color: #25cab1;
    text-align: center;
}

.big_circle {
	width: 129px;
	height: 129px;
    position: relative;
    bottom: 5px;
	border-radius: 50%;
	border: 2px solid #e0e0e0;
	background-color: #ffffff;
}

.big_circle p:first-child {
    position: relative;
    left: 5px;
    top: 25px;
	font-family: "ralewaybold";
	font-size: 44px;
    color: #c2c2c2;
}

.big_circle sup {
	position: relative;
	bottom: 10px;
    font-size: 16px;
}

.adv_plan_price{
    left: -3px !important
}

.big_circle p:last-child {
    position: relative;
    top: 30px;
	font-family: "ralewaybold";
	font-size: 15px;
    color: #c2c2c2;
}

.offer div {
	width: 326px;
	position: relative;
	top: 33px;
    font-family: "ralewayregular";
    font-size: 24px;
}

.offer div:nth-of-type(2n + 1) {
	height: 42px;
    background-color: #e4e4e4;
    color: #949494;
	line-height: 42px;
}

.offer div:nth-of-type(2n + 2) {
	height: 44px;
	background-color: #f1f1f1;
	color: #7b7b7b;
    line-height: 44px;
}

.join_button {
	width: 124px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    background-color: #25cab1;
    border-radius: 8px;
    font-size: 16px;
    line-height: 33px;
    color: #ffffff;
    cursor: pointer;
}

/* CSS DO SEKCJI 3 (HOVER) */
.tariff_box:hover {
    background-color: #25cab1;
    border-color: #25cab1;
}

.tariff_box:hover .small_circle {
    background-color: #25cab1;
    border-color: #25cab1;
}

.tariff_box:hover .small_circle>div {
    background-color: #ffffff;
}

.tariff_box:hover h3 {
    color: #ffffff;
}

.tariff_box:hover .big_circle {
    border-color: #25cab1;
}

.tariff_box:hover .big_circle p {
    color: #25cab1;
}

.tariff_box:hover .offer div:nth-of-type(2n + 1) {
    background-color: #ffffff;
}

.tariff_box:hover .offer div:nth-of-type(2n + 2) {
    background-color: #ececec;
}

.tariff_box:hover .join_button {
    background-color: #ffffff;
    color: #25cab1;
}

/* CSS DO SEKCJI 4 (KALKULATOR) */
.application {
  background-color: #f9f9f9;
  padding: 30px 0;
}

.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right {
  text-align: right;
}

.application header {
    background: none;
}

.inline {
  display: inline-block;
  width: 347px;
  padding: 14px;
  vertical-align: top;
}

.form {
  margin-top: 50px;
}

.drop_down_list {
  border: 1px solid #8de0d2;
  width: 280px;
  height: 38px;
  background-color: #ffffff;
  margin-top: 22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 22px;
  color: #e2e2e2;
  font-family: 'ralewaylight';
}

.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}

.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #25cab1;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}

.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}

.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}

.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}

.application .green_bell {
  background-color: #25cab1;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: #ffffff;
  width: 100%;
  height: 195px;
  padding: 10px;
  margin-top: 50px;
}

.application .green_button {
  background-color: #25cab1;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium';
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}

.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left: 1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #25cab1;
  font-size: 23px;
  padding-bottom: 5px;
}

.panel_left span{
  margin-top: 7px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #25cab1;
  margin-top: 7px;
}

.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #25cab1;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #25cab1;
  display: block;
  position: absolute;
  right: 14px;
  top: 15px;
  cursor: pointer;
}

.list_panel {
  background-color: #ffffff;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none;
}

.list_panel li {
  margin-top: 10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}

/* CSS DO SEKCJI 5 (FORMULARZ) */
.contact_form {
    width: 100%;
    background-color: #ffffff;
}

.contact_form h2 {
    width: 320px;
    margin-top: 28px;
    margin-bottom: 47px;
    margin-left: 5px;
    border-bottom: 7px solid #25cab1;
    font-family: "ralewayregular";
    font-size: 21px;
    text-align: left;
    line-height: 35px;
}

form {
    display: flex;
}

form>div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 633px;
    margin-left: 5px;
}

form>div:last-of-type {
    display: flex;
    flex-direction: column;
    width: 33%;
}

input, textarea {
    width: 100%;
    margin-bottom: 25px;
    padding-left: 15px;
    border: 1px solid #25cab1;
    font-family: "ralewayregular";
    font-size: 32px;
    color: #25cab1;
}

form>div:first-of-type input {
    height: 66px;
}

form textarea {
    height: 189px;
    resize: none;
    padding-top: 12px;
}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #e4e4e4;
}

input:focus, textarea:focus {
    border: 2px solid #25cab1;
}

.contact_form img {
    width: 260px;
    position: relative;
    bottom: 25px;
    right: 5px;
}

.form_checkbox {
    display: flex;
    position: relative;
    bottom: 7px;
    left: 7px;
    margin-bottom: 25px;
}

.form_checkbox input {
    display: none;
}

.form_checkbox input+div {
    width: 48px;
    height: 48px;
    border: 1px solid #25cab1;
    background-color: #ffffff;
    cursor: pointer;
}

.form_checkbox input:checked+div {
    background: url("../images/form_ok.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.form_checkbox label {
    margin-left: 13px;
    font-size: 22px;
    color: #c6c6c6;
}

#submit {
    width: 343px;
    height: 72px;
    padding: 0;
    position: relative;
    left: 15px;
    background-color: #25cab1;
    border-radius: 10px;
    font-family: "ralewaybold";
    font-size: 32px;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

/* CSS DO STOPKI */
footer {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #ffffff;
    color: #a1a1a1;
}

footer>div {
    display: flex;
}

footer>div>p {
    width: 66%;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-align: left;
    line-height: 100px;
}

footer>div>div {
    display: flex;
    align-items: center;
}

footer>div>div>img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 4px;
}

footer>div>div>p {
    margin-left: 55px;
    font-family: "ralewaymedium";
    font-size: 20px;
    letter-spacing: 1.25px;
    text-align: right;
    cursor: pointer;
}

footer>div>div span {
    font-family: "ralewaybold";
}
